<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<%= javascript_include_tag "jquery.tokeninput.js" %>
<%= stylesheet_link_tag "token-input.css" %>

<script type="text/javascript">
$(document).ready(function () {
    $("#user_skill_tokens").tokenInput("/skills.json", {
      crossDomain: false,
    });
});
</script>


<div class="container devise">
  <h2>Edit Account</h2>

  <div class="row">
    <div class="devise-form-wrapper">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well devise"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="avatar">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>

        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :autofocus => true %>
        </div>

        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>

        <div>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div>
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :autocomplete => "off" %>
        </div>

        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div>
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password %>
        </div>

        <div>
          <%= f.label :skill_tokens, "Skills" %><br />
          <%= f.text_field :skill_tokens, "data-pre" => @user.skills.map(&:attributes).to_json %>
        </div>

        <div>
          <%= f.submit "Update", :class => "action-btn" %>
        </div>
      <% end %>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => "cancel-btn", :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
    </div>
  </div>
</div>
