

<div class="container devise">
  <div class="row">
    <div class="devise-form-wrapper">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well devise"}) do |f| %>
        <fieldset>
          <legend><h2>Sign Up</h2></ledgend>
        </fieldset>
        <%= devise_error_messages! %>
        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :autofocus => true  %>
        </div>

        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>

        <div>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>


        <div>
          <%= f.association :skills, as: :check_boxes %>
        </div>





        <div>
          <%= f.submit "Sign up", :class => "action-btn" %>
        </div>

        <p class="sign-in-link"> Already have an account? <%= render "devise/shared/links" %></p>
      <% end %>
    </div>
  </div>
</div>

