<%= simple_form_for(@need, html: {class: "form-horizontal"}) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :user_id_church_admin, collection: User.with_role(:church_admin), label_method: :full_name %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
