  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<script type="text/javascript" src="https://raw.githubusercontent.com/loopj/jquery-tokeninput/master/src/jquery.tokeninput.js"></script>
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/loopj/jquery-tokeninput/master/styles/token-input.css" />
<script type="text/javascript">

$(document).ready(function () {
    $("#need_skill_tokens").tokenInput("/skills.json", {
      crossDomain: false,
      prePopulate: $("#need_skill_tokens").data("pre")
    });
});

</script>


<%= simple_form_for(@need, html: {class: "form-horizontal need-form"}) do |f| %>
  <div class="inner-content">
    <p class="form-instructions">Please title and describe the need:</p>
    <% if @need.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>
        <ul>
          <% @need.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="private-fields">
      <%= f.input :title %>
      <%= f.input :description %>
    </div>
    <div class="public-fields">
      <%= f.input :title_public %>
      <%= f.input :description_public %>
    </div>
    <div class="field-group-3">
      <%= f.input :recipient_size %>
    </div>
    <div class="field-group-3">
      <%= f.input :frequency_type %>
    </div>

    <div class="all-private-fields">
      <p class="form-instructions ">The following fields will remain private, and viewed only by church admins:</p>
      <div class="field-pair">
        <%= f.input :first_name%>
      </div>
      <div class="field-pair">
        <%= f.input :last_name %>
      </div>
      <div class="field-pair">
        <%= f.input :last_four_ssn %>
      </div>
      <div class="field-pair">
        <%= f.input :street_address %>
      </div>
      <div class="field-group-3">
        <%= f.input :drivers_license %>
      </div>
      <div class="field-group-3">
        <%= f.input :age %>
      </div>
      <div class="field-group-3">
        <%= f.input :gender %>
      </div>
      <div class="field-group-3">
        <%= f.input :recipient_contribution %>
      </div>
      <div class="field-group-3">
        <%= f.input :date_of_birth %>
      </div>
      <div class="field-group-3">
        <%= f.input :full_street_address %>
      </div>
      <div class="field-group-3">
        <%= f.input :shows_real_location_publically %>
      </div>
      <%= f.input :user_id_church_admin, collection: User.with_role(:church_admin), label_method: :full_name %>
      <div class="field-group-3">
        <%= f.input :leader %>
      </div>

    </div>
  </div>

          <%= f.label :skill_tokens, "Skills" %><br />
          <%= f.text_field :skill_tokens, "data-pre" => @need.skills.map(&:attributes).to_json %>
<br><br>

Expenses
<br>
<br>

<%= f.fields_for :expenses do |expense| %>
      <div class="field-pair">
        <%= expense.input :title %>
      </div>
      <div class="field-pair">
        <%= expense.input :description %>
      </div>
      <div class="field-pair">
        <%= expense.input :documentation %>
      </div>
      <div class="field-pair">
        <%= expense.input :amount %>
      </div>
                <%= expense.check_box :_destroy %>
      <%= expense.label :_destroy, 'delete' %>

<% end -%>

    <%= f.submit 'Add Expense', :name => "add_expense" %>
    <%= f.submit 'Delete Checked Expenses', :name => "remove_expenses" %>

  <div class="form-actions submit-new-need">

    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
