  <!-- jQuery is used only for this example; it isn't required to use Stripe -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<%= javascript_include_tag "jquery.tokeninput.js" %>
<%= stylesheet_link_tag "token-input-facebook.css" %>

<script>

$(document).ready(function () {
    updateSkills();
    function updateSkills(){
        $.ajax({
        url: '/skills.json',
        type: "GET",
        dataType: 'json',
        success: function(data) {
          skillsArray = data;
          $('.token-input-token-facebook').each(function(){
            $(this).addClass('custom');
            var skillText = $(this).find('p').text();
            for (i=0; i < skillsArray.length; i++){
              if(skillsArray[i].name == skillText){
                $(this).find('> p').html('<span class="skill-icon"><img src="' + skillsArray[i].icon_url + '"></span>' + skillsArray[i].name)
              }
            };
          });
        }
      });
    };

    $("#need_skill_tokens").tokenInput("/skills.json", {
      crossDomain: false,
      onAdd: function(item){
        updateSkills();
      },
      preventDuplicates: "true",
      theme: "facebook",
      prePopulate: $("#need_skill_tokens").data("pre")
    });
});

</script>
<%= simple_nested_form_for(@need, html: {class: "form-horizontal need-form"}) do |f| %>
  <div class="form-divider">
    <div class="col-xs-12">
      <% if @need.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>
          <ul>
            <% @need.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="public-label">Public</div>
      <div class="inner-content">
        <div class="public-fields">
          <p class="form-instructions">Please title and describe the need:</p>
          <%= f.input :title_public, label: "Public Title" %>
          <%= f.input :description_public, label: "Public Description" %>
        </div>
        <div class="lone-field">
          <%= f.input :recipient_size, :as => :radio_buttons, :default  => "Unknown", label: "Recipient Size" %>
        </div>
        <div class="lone-field">
          <%= f.input :frequency_type, :as => :radio_buttons, :default  => "Unknown", label: "Frequency"  %>
        </div>
        <div class="lone-field">
          <%= f.input :full_street_address, label: "Full Street Address" %>
        </div>
        <div class="lone-field">
          <%= f.input :shows_real_location_publically, label: "Show Real Location Publicly", class: "public-checkbox" %>
        </div>
        <div class="lone-field ">
          <%= f.input :user_id_church_admin, label: "Church Admin", collection: User.with_role(:church_admin), label_method: :full_name %>
        </div>
        <div class="lone-field">
          <%= f.input :leader, label: "Leader" %>
        </div>
        <div class="lone-field">

          <%= link_to "Full list of Skills", skills_list_path, target: "_blank" %>

          
          <h4><%= f.label :skill_tokens, "Skills" %></h4>
          <%= f.text_field :skill_tokens, "data-pre" => @need.skills.map(&:attributes).to_json %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6" id="private-block">
      <div class="private-label">Private</div>
        <div class="inner-content">
          <div class="private-fields">
            <p class="form-instructions">Please title and describe the need:</p>
            <%= f.input :title, label: "Private Title" %>
            <%= f.input :description, label: "Private Description" %>
          </div>
          <div class="form-for-individuals">
            <div class="field-pair">
              <%= f.input :first_name, label: "First Name"%>
            </div>
            <div class="field-pair">
              <%= f.input :last_name, label: "Last Name" %>
            </div>
            <div class="field-pair">
              <%= f.input :last_four_ssn, label: "Last 4 SSN" %>
            </div>
            <div class="field-pair">
              <%= f.input :street_address, label: "Street Address" %>
            </div>
            <div class="field-group-3">
              <%= f.input :drivers_license, label: "Driver's License" %>
            </div>
            <div class="field-group-3">
              <%= f.input :date_of_birth, label: "DOB (mm/dd/yy)" %>
            </div>
            <div class="field-group-3">
              <%= f.input :gender, label: "Gender" %>
            </div>
            <div class="lone-field">
              <%= f.input :recipient_contribution, label: "Recipient's Contribution" %>
            </div>
          </div>
        </div>
    </div>

    <div class="grey-form col-xs-12">
      <div class="secondary-form-inner-content">
        <h4>Expenses</h4>

          <%= f.fields_for :expenses do |expense| %>
            <div class="grid-needs">
              <div class="grid-block">
                  <div class="grid-col">
                    <%= expense.input :title %>
                  </div>
                  <div class="grid-col">
                    <%= expense.input :description %>
                  </div>
                  <div class="grid-col">
                    <%= expense.input :documentation %>
                  </div>
                  <div class="grid-col">
                    <%= expense.input :amount %>
                  </div>
                  <div class="grid-col remove-expense"><%= expense.link_to_remove "Remove" %></div>
                </div>
            </div>
        <% end %>
        <%= f.link_to_add "+ Add an Expense", :expenses %>
        <div class="public-updates-block">

          <h4>Public Updates</h4>

          <%= f.fields_for :updates do |update| %>
          <div class="update-wrapper">
            <div class="update-inner-content">
              <div class="form-inputs">
                <div class="field-pair">
                  <%= update.input :title %>
                </div>
                <div class="field-pair">
                  <%= update.input :content, :class => "long-content-textarea" %>
                </div>
              </div>

              <div class="images-block">
                <%= update.fields_for :images do |image| %>
                  <div class="image-field">
                    <div class="field-group-30">
                      <%= image.label "Select Your Image:" %>
                      <%= image.file_field :image %>
                    </div>
                    <div class="field-group-70">
                      <%= image.input :caption %>
                    </div>
                  <%= image.link_to_remove "Remove Image" %>
                  </div>
                <% end %>

                <p><%= update.link_to_add "Add an image", :images %></p>
              </div>
              <%= update.link_to_remove "Remove Update", :class => "remove-update" %>
            </div>
            </div>
          <% end %>

          <p><%= f.link_to_add "+ Add a Public Update", :updates %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions submit-new-need">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<script>
  $(document).on('ready', function(){
    $('.form-for-individuals').hide();
    $('ul.token-input-list-facebook').addClass('custom');
    if($('#need_recipient_size_individual').attr('checked')){
      $('.form-for-individuals').show();
    }
    $('.radio_buttons').each(function(){
      if($(this).attr('checked') == "checked"){
        $(this).parent().addClass('selected');
      }
    });

    $('.need_recipient_size .radio_buttons').on('click', function(){
      $('.need_recipient_size .radio').each(function(){
        $(this).removeClass('selected');
      })
      $(this).parent().addClass('selected');
      if($(this).val() == "individual"){
        $('.form-for-individuals').show();
      }else{
        $('.form-for-individuals').hide();
      }
    });

    $('.need_frequency_type .radio_buttons').on('click', function(){
      $('.need_frequency_type .radio').each(function(){
        $(this).removeClass('selected');
      })
      $(this).parent().addClass('selected');
    });
  });
</script>

