<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<%= javascript_include_tag "jquery.tokeninput.js" %>
<%= stylesheet_link_tag "token-input.css" %>

<script type="text/javascript">
$(document).ready(function () {
    $("#skills_input").tokenInput("/skills.json", {
      crossDomain: false,
        onAdd: function (item) {
          $.ajax({
            type: "GET",
            url: "needs/filtered_needs",
            data: {
              skill_name: item.name
            }
          });
        },
        onDelete: function (item) {
            alert("Deleted " + item.name);
        }




    });
});
</script>

<% content_for :map do %>
  <script>
    var map_hash = <%= raw @hash.to_json %>;
  </script>
  <%= render 'layouts/map' %>
<% end %>

<br>
<br>

<div>
    <%= text_field_tag "skills_input", "" %>
</div>




<div class="page-header-block">
  <h1>All Needs</h1>
</div>

<div class="needs main-content">
  <% @needs.each do |need| %>
    <div class="need-container">
      <div class="inner-content">
        <h2 class="need-title">
          <%= link_to need.title_public, need %>
        </h2>
        <div class="need-description">
          <p><%= need.description_public %></p>
          <div class="row need-details">
            <div class="expenses col-xs-12 col-sm-6">
              <h3>Expenses</h3>
                <div class="expenses-bar">
                  <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                  <span class="amount-raised"><%= humanized_money_with_symbol need.total_contributed %> / <%= humanized_money_with_symbol need.total_expenses %></span>
                </div>
            </div>
            <div class="skills col-xs-12 col-sm-6">
              <h3>Skills needed</h3>
              <ul class="skills-list">
                <% if need.skills_count > 0 %>
                  <% need.skills.each do |skill| %>
                    <li class="skill-tag">
                      <span class="skill-icon">
                        <%= image_tag(skill.icon_url) %>
                      </span>
                      <%= skill.name %>
                    </li>
                  <% end %>
                <% else %>
                  No skills added yet.
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
