<%= javascript_include_tag "jquery.tokeninput.js" %>
<%= stylesheet_link_tag "token-input.css" %>

<% content_for :head do %>
  <script type="text/javascript">

  $(document).ready(function () {
    $("#skills_input").tokenInput("/skills.json", {
      crossDomain: false,
      onAdd: function (item) {
        var selectedValues = $('#skills_input').tokenInput("get");
        $.ajax({
          type: "GET",
          url: "/needs",
          data: {
            selected_skills: selectedValues
          },
          dataType: "script",
        });
      },
      onDelete: function (item) {
        var selectedValues = $('#skills_input').tokenInput("get");
        $.ajax({
          type: "GET",
          url: "/needs",
          data: {
            selected_skills: selectedValues
          },
          dataType: "script",
        });
      }
    });
  });

  </script>
<% end %>

<% content_for :map do %>
  <script>
    var map_hash = <%= raw @hash.to_json %>;
  </script>
  <%= render 'layouts/map' %>
<% end %>

<br>
<br>

<div>
    <%= text_field_tag "skills_input", "" %>
</div>

<div class="page-header-block">
  <h1>All Needs</h1>
</div>

<div class="needs main-content">
  <%= render @needs %>
</div>
