<%= javascript_include_tag "jquery.tokeninput.js" %>
<%= stylesheet_link_tag "token-input-facebook.css" %>

<% content_for :head do %>
  <script type="text/javascript">

 jQuery(function(){ buildMap(map_hash, true); });

// $(document).ready(function(){
//     $('#custom_style').height($(window).height() * .6);
// });

$(document).ready(function () {
    updateSkills();
    function updateSkills(){
        $.ajax({
        url: '/skills.json',
        type: "GET",
        dataType: 'json',
        success: function(data) {
          skillsArray = data;
          $('.token-input-token-facebook').each(function(){
            $(this).addClass('custom');
            var skillText = $(this).find('p').text();
            for (i=0; i < skillsArray.length; i++){
              if(skillsArray[i].name == skillText){
                $(this).find('> p').html('<span class="skill-icon"><img src="' + skillsArray[i].icon_url + '"></span>' + skillsArray[i].name)
              }
            };
          });
        }
      });
    };

    $("#skills_list").on("change", function () {
      var selectedValue = ""
      $('#needs-full-list').html();
      selectedValue = $('#skills_list option:selected').val();
      $('.need-category-title').html(selectedValue + " Needs");
      $.ajax({
          type: "GET",
          url: "/needs",
          data: {
            selected_skills: selectedValue
          },
          dataType: "script",
          success: function(data) {
            if ($('.need-container').length == 0){
              $('#needs-full-list').html('There are no needs yet listed under this skill set.');
            }
          }
        });
    });

    $("#skills_input").tokenInput("/skills.json", {
      crossDomain: false,
      onAdd: function (item) {
        updateSkills();

        var selectedValues = $('#skills_input').tokenInput("get");
        $.ajax({
          type: "GET",
          url: "/needs",
          data: {
            selected_skills: selectedValues
          },
          dataType: "script",
        });
      },
      onDelete: function (item) {
        var selectedValues = $('#skills_input').tokenInput("get");
        $.ajax({
          type: "GET",
          url: "/needs",
          data: {
            selected_skills: selectedValues
          },
          dataType: "script",
        });
      },
      preventDuplicates: "true",
      theme: "facebook",
      prePopulate: $("#need_skill_tokens").data("pre")
    });
});

  </script>
<% end %>

<% content_for :map do %>
  <script>
    var map_hash = <%= raw @hash.to_json %>;
  </script>
  <%= render 'layouts/map' %>
<% end %>

<div class="page-header-block">
  <h1 class="need-category-title">All Needs</h1>
  <div class="skills-filter">
    <label>Filter:</label>
    <select id="skills_list" class="skill-select">
      <option value="">All Needs</option>
      <%- @skills_represented.each do | skill | %>
        <option data-tag="#{skill.name}">
          <%= skill.name %>
        </div>
      <% end %>
    </select>
  </div>
</div>

<div class="needs main-content" id="needs-full-list">
  <%= render @needs %>
</div>

<% if @needs.count > 0 %>
<br><br><br>
<% end %>

<% if @completed_needs.count > 0 %>

  <h1 class="need-category-title">Completed Needs</h1>

<div class="completed-needs main-content" id="needs-full-list">
  <% @completed_needs.in_groups_of(2, false) do |completed_needs| %>

    <% completed_needs.each do |completed_need| %>
           <div class="box col5" id="<%= completed_need.id %>">

      <%= render partial: 'needs/completed_need', locals: { need: completed_need } %>
             </div>

    <% end %>

  <% end %>
</div>

<% end %>








<script>
  $(document).ready(function(){
    $('.need-button-block').each(function(){
      var className;
      var needButtonCount = $(this).find('.need-btn-link').length;
        if (needButtonCount == 1){
          className = "need-xs-12";
        }else if(needButtonCount == 2){
          className = "need-xs-6";
        }else if(needButtonCount == 3){
          className = "need-xs-4";
        }

      $(this).find('.need-btn-link').each(function(){
        $(this).addClass(className);
      });
    });
  })

</script>