<div class="page-header">
  <h1>All Needs</h1>
</div>



<% @needs.each do |need| %>
  <div class="need">
    <p><strong><%= need.user.full_name %></strong></p>
    <p><strong><%= need.title %></strong></p>
    <p><%= need.description %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(need.created_at) + " ago", need %>
      <span class="admin">
        | <%= link_to "Edit", edit_need_path(need) %>
        | <%= link_to "Delete", need, method: :delete, data: { confirm: "Are you sure you want to delete this need?"} %>
      </span>
    </div>
  </div>
<% end %>