<% content_for :map do %>
  <script>
    var map_hash = <%= raw @hash.to_json %>;
  </script>
  <%= render 'layouts/map' %>
<% end %>

<div class="page-header-block">
  <h1>All Needs</h1>
</div>

<div class="needs main-content">
  <% @needs.each do |need| %>
    <div class="need-container">
      <div class="inner-content">
        <h2 class="need-title">
          <% if user_signed_in? %>
            <% if current_user == need.user_posted_by || current_user == need.user_church_admin %>
              <%= link_to need.title, need %>
            <% else %>
              <%= link_to need.title_public, need %>
            <% end %>
          <% else %>
              <%= link_to need.title_public, need %>
          <% end %>
        </h2>
        <div class="need-description">
          <% if user_signed_in? %>
            <% if current_user == need.user_posted_by || current_user == need.user_church_admin %>
              <p><%= need.description %></p>
            <% else %>
              <p><%= need.description_public %></p>
            <% end %>
          <% else %>
            <p><%= need.description_public %></p>
          <% end %>
          <div class="row need-details">
            <div class="expenses col-xs-12 col-sm-6">
              <h3>Expenses</h3>
                <div class="expenses-bar">
                  <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                  <span class="amount-raised">$<%= need.total_contributed %> / $<%= need.total_expenses %></span>
                  <span class="expense-details" data-toggle="modal" data-target="#expensesModal">
                    Details
                  </span>
                </div>
            </div>
            <div class="skills col-xs-12 col-sm-6">
              <h3>Skills needed</h3>
              <div class="skills-bar">
                <span class="progress-bar"></span>
                <span class="skills-count">3 Skills</span>
                <span class="skill-details">Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
