<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @need.user_posted_by.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @need.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @need.description %>
</p>

<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>
