
<% content_for :head do %>


<!-- for Google -->
<meta name="description" content="<%= @need.description_public %>" />
<meta name="keywords" content="" />

<meta name="author" content="" />
<meta name="copyright" content="" />
<meta name="application-name" content="" />

<!-- for Facebook -->
<meta property="og:title" content="<%= @need.title_public %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://s3.amazonaws.com/church_of/assets/ui_assets/icon.png" />
<meta property="og:url" content="https://www.church-of.com/needs/<%= @need.id %>" />
<meta property="og:description" content="<%= @need.description_public %>" />

<!-- for Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="<%= @need.title_public %>" />
<meta name="twitter:description" content="<%= @need.description_public %>" />
<meta name="twitter:image" content="https://s3.amazonaws.com/church_of/assets/ui_assets/icon.png" />



  <script type="text/javascript">

   jQuery(function(){ buildMap(map_hash , true); });

    jQuery(function($) {
      $('#rosmModal').on('show.bs.modal', function() {
        var subjectId = $(this).data("need-id");
        <% if user_signed_in? %>
          $.ajax({
            type: "POST",
            url: "/activities",
            data: {
              subject_id: subjectId,
              subject_type: "Need",
              user_id: <%= current_user.id %>,
              description: "User viewed ROSM records. Paid Member at time? <%= current_user.is_full_rosm_member ? 'YES' : 'NO' %>"
            }
          });
        <% end %>
      });
    });
  </script>

<% end %>

  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>




<div class="page-header-block">
</div>

<div class="needs main-content">
  <div class="need-container">
    <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>
      <div class="disclaimer-block">
        <div class="inner-content">
            <span class="notice-icon"></span>
            <p class="disclaimer">
              Note: You are seeing private information here because or your role with this need.
            </p>
        </div>
      </div>
    <% end %>

    <div class="inner-content">



   <div class="row">
          <div class="col-xs-12 col-sm-9">
            <h2 class="need-title">
              <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>
                <%= @need.title %>
              <% else %>
                <%= @need.title_public %>
              <% end %>
            </h2>


      <div class="frequency-type">
        <% if @need.recipient_size_value == 2 %>
         <span class="frequency-tag">Individual</span>
        <% elsif @need.recipient_size_value == 3 %>
         <span class="frequency-tag">Group</span>
        <% end %>

        <% if @need.frequency_type_value == 2 %>
         <span class="frequency-tag">One-Time</span>
        <% elsif @need.frequency_type_value == 3 %>
         <span class="frequency-tag">Ongoing</span>
        <% end %>
      </div>


          </div>
          <div class="col-xs-12 col-sm-3">
              <% if @need.completion_goal_date %>
                <% if @need.completion_goal_date > Time.current %>
                  <% if @need.completion_goal_date > Time.current + 1.days %>
                    <div class="time-block time-green">
                      <div class="time-remaining">
                        <%= time_ago_in_words(@need.completion_goal_date) %> left
                      </div>
                      <div class="time-posted">
                        <% if @need.date_public_posted %>
                          posted: <%= time_ago_in_words(@need.date_public_posted) %> ago
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="time-block time-orange">
                      <div class="time-remaining">
                        <%= time_ago_in_words(@need.completion_goal_date) %> left
                      </div>
                      <div class="time-posted">
                        <% if @need.date_public_posted %>
                          posted: <%= time_ago_in_words(@need.date_public_posted) %> ago
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="time-block time-red">
                    <div class="time-remaining">
                      <%= time_ago_in_words(@need.completion_goal_date) %> past goal
                    </div>
                    <div class="time-posted">
                      <% if @need.date_public_posted %>
                        posted: <%= time_ago_in_words(@need.date_public_posted) %> ago
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="time-block time-blue">
                  <div class="time-remaining">
                    No Goal Date
                  </div>
                  <div class="time-posted">
                    <% if @need.date_public_posted %>
                      posted: <%= time_ago_in_words(@need.date_public_posted) %> ago
                    <% end %>
                  </div>
                </div>
              <% end %>

            <div onclick="shareNeed();" data-need-title="<%= @need.title_public %>" data-need-description="<%= @need.description_public %>" data-need-id="<%= @need.id %>" class="share-block-facebook">
            </div><div onclick="tweetNeed();" data-need-title="<%= @need.title_public %>" data-need-description="<%= @need.description_public %>" data-need-id="<%= @need.id %>" class="share-block-twitter">
            </div>



          </div>
   </div>

<script>
  function shareNeed() {
    var needTitle = $('.share-block-facebook').data('need-title');
    var needDescription = $('.share-block-facebook').data('need-description');
    var needID = $('.share-block-facebook').data('need-id');
    FB.ui({
      method: 'feed',
      name: "Check out this opportunity to serve in Lexington: " + needTitle,
      link: "http://church-of.com/needs/" + needID,
      picture: '',
      description: needDescription
    });
  };

  function tweetNeed() {
    var needID = $('.share-block-twitter').data('need-id');
    var tweetUrl = "https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fchurch-of.com&text=Check%20out%20this%20opportunity%20to%20serve%20in%20Lexington:%20http%3A%2F%2Fchurch-of.com%2Fneeds%2F" + needID;
    window.open(tweetUrl,'','height=400,width=500');
  };
</script>




      <div class="need-description">
        <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>
          <p><%= @need.description %></p>
        <% else %>
          <p><%= @need.description_public %></p>
        <% end %>
      </div>




      <% if @need.updates.count > 0 %>
      <br>
        <% if @need.updates.count == 1 %>
          <h3><%= @need.updates.count %> Public Update</h3>
        <% else %>
          <h3><%= @need.updates.count %> Public Updates</h3>
        <% end %>
      <% end %>

      <% @need.updates.each do |update| %>
        <div class="public-update-bar" data-toggle="modal" data-target="#PublicUpdateModal<%= update.id%>">
          <span class="record-count"><%= update.title %></span>
<!--           This should only show up for the right people
 -->
          <span class="details"><%= time_ago_in_words(update.created_at) %> ago</span>
        </div>
      <% end %>

<!--       <%= link_to "New Update", new_need_update_path(@need) %>
 -->      <div class="row need-details">

        <% if @need.expenses.count > 0 %>

          <div class="expenses col-xs-12 col-sm-6">
            <h3>Expenses</h3>
            <div class="expenses-bar" data-toggle="modal" data-target="#expensesModal">
              <span class="progress-bar" style="width:<%= @need.percent_raised %>%"></span>
              <span class="amount-raised"><%= humanized_money_with_symbol @need.total_contributed %> / <%= humanized_money_with_symbol @need.total_expenses %></span>
              <span class="details">Details</span>
            </div>
  <!--           <% @need.expenses.each do |expense| %>
              <p>
                <%= expense.title %> - <%= expense.amount %>
              </p>
            <% end %>


   -->



          </div>

        <% end %>


                <% if @need.total_needed_volunteers > 0 %>

          <div class="volunteers col-xs-12 col-sm-6">
            <h3>Volunteers</h3>

            <div class="volunteers-bar">
              <span class="progress-bar" style="width:<%= @need.percent_volunteers_secured %>%"></span>
              <span class="amount-raised"><%= @need.total_volunteers %> / <%= @need.total_needed_volunteers %></span>
            </div>
          </div>
          <% end %>



        <div class="skills col-xs-12 col-sm-6">
          <h3>Skills / Resources</h3>
          <ul class="skills-list">
            <% if @need.skills_count > 0 %>
              <% @need.skills.each do |skill| %>
                <li class="skill-tag">
                  <span class="skill-icon">
                    <%= image_tag(skill.icon_url) %>
                  </span>
                  <%= skill.name %>
                </li>
              <% end %>
            <% else %>
              <p class="no-skills-message">No skills added yet.</p>
            <% end %>
          </ul>
        </div>
      </div>


      <% if @need.total_needed_volunteers > 0 %>
        <div class="private-information">
          <h3> Volunteering Info </h3>
            <p class="first-name">
              <strong>When: </strong>
              <%= @need.volunteerTime.localtime.strftime("%a, %b-%d, %I:%M %p") %>
            </p>
            <p class="first-name">
              <strong>Where: </strong>
              <%= @need.volunteerLocation %>
            </p>
            <p class="first-name">
              <strong>What: </strong>
              <%= @need.volunteerDescription %>
            </p>
            <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>

              <p class="first-name">
                <strong>Who: </strong>
                  <% @need.time_contributions.each do |time_contribution| %>


                  <p>
                  <a href="mailto:<%= time_contribution.user.email %>" target="_top"><%= time_contribution.user.full_name %></a>
                </p>
                  <% end %>
              </p>

            <% end %>

          </div>
      <% end %>


<% if @need.recipient_size_value == 2 %>

  <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>

        <div class="private-information">
          <h3> Individual Info </h3>

          <% if @need.first_name? %>
            <p class="first-name">
              <strong>First Name: </strong>
              <%= @need.first_name %>
            </p>
          <% end %>

          <% if @need.last_name? %>
            <p class="last-name">
              <strong>Last Name: </strong>
              <%= @need.last_name %>
            </p>
          <% end %>

          <% if @need.last_four_ssn? %>
            <p class="social-security-number">
              <strong>Last 4 SSN: </strong>
              <%= @need.last_four_ssn %>
            </p>
          <% end %>

          <% if @need.street_address? %>
            <p class="street-address">
              <strong>Street Address: </strong>
              <%= @need.street_address %>
            </p>
          <% end %>

          <% if @need.drivers_license? %>
            <p class="drivers-license">
              <strong>Driver's License: </strong>
              <%= @need.drivers_license %>
            </p>
          <% end %>

          <% if @need.gender %>
            <p class="gender">
              <strong>Gender: </strong>
              <%= @need.gender %>
            </p>
          <% end %>

          <% if @need.recipient_contribution? %>
            <p class="gender">
              <strong>Recipient Contribution: </strong>
              <%= @need.recipient_contribution %>
            </p>
          <% end %>

        </div>


      <% if current_user == @need.user_church_admin %>

<!--         <div class="private-records-block">
          <div class="previous-records-bar" data-toggle="modal" data-target="#rosmModal">
            <span class="record-count">
              0 Previous Records
              <% if @need.first_name? %>
                <span class="hide-on-xs"> for <%= @need.first_name %> <%=  @need.last_name %></span>
              <% end %>
            </span>
            <span class="details">Show Results</span>
          </div>
        </div>
 -->

        <% end %>
      <% end %>
    <% end %>

      <div class="map-location">
          <script>
            var map_hash = <%= raw @hash.to_json %>;
          </script>
          <%= render 'layouts/small_map' %>
      </div>

      <div class="row responsibility-bar">
        <% if current_user == @need.user_posted_by || current_user == @need.user_church_admin || current_user == @need.user_need_leader %>
          <div class="responsible-user col-xs-4">
            <div class="user-title">
              <h3>Posted By</h3>
            </div>

            <% if !@need.user_posted_by.avatar_file_name.nil? %>
              <div class="user-image">
                <%= image_tag(@need.user_posted_by.avatar(:large), class: "img-circle") %>
              </div>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

            <div class="user-details">
              <%= @need.user_posted_by.full_name %>
              <p class="small-italic"> Member - Church of Lexington </p>
            </div>
          </div>
        <% end %>

        <div class="responsible-user col-xs-4">
          <div class="user-title">
            <h3>Admin</h3>
          </div>

            <% if !@need.user_church_admin.avatar_file_name.nil? %>
              <div class="user-image">
                <%= image_tag(@need.user_church_admin.avatar(:large), class: "img-circle") %>
              </div>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>



                <div class="user-details">
                  <%= @need.user_church_admin.full_name %>
                  <% if @need.user_church_admin.associated_organization && @need.user_church_admin.associated_organization_url %>
                    <p class="small-italic"> Admin - <a href=<%=@need.user_church_admin.associated_organization_url%>><%=@need.user_church_admin.associated_organization%></a> </p>
                  <% else %>
                    <p class="small-italic"> Admin - Church of Lexington </p>
                  <% end %>
                </div>
        </div>

        <div class="responsible-user col-xs-4">
          <div class="user-title">
            <h3>Leader</h3>
          </div>
          <div class="user-image">

            <% if @need.user_need_leader %>
              <% if !@need.user_need_leader.avatar_file_name.nil? %>
                <div class="user-image">
                  <%= image_tag(@need.user_need_leader.avatar(:large), class: "img-circle") %>
                </div>
              <% else %>
                <div class="placeholder-leader-image"></div>
              <% end %>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                  <div class="user-details">
                    <% if @need.user_need_leader %>
                      <%= @need.user_need_leader.full_name %>
                      <% if @need.user_need_leader.associated_organization && @need.user_need_leader.associated_organization_url %>
                        <p class="small-italic"> Leader - <a href=<%=@need.user_need_leader.associated_organization_url%>><%=@need.user_need_leader.associated_organization%></a> </p>
                      <% else %>
                        <p class="small-italic"> Leader - Church of Lexington </p>
                      <% end %>
                    <% else %>
                      No Leader
                    <% end %>
                  </div>
          </div>
        </div>
      </div>
    </div>
    <% if can? :update, @need %>
      <%= link_to 'Edit Need', edit_need_path(@need), :class => "full-width-btn" %>
    <% end %>

      <% if @need.is_public %>
      <%= link_to 'Contribute', new_need_contribution_path(@need), :class => "full-width-btn-green" %>
      <% end %>



    <% if @need.should_accept_volunteers %>
      <% if user_signed_in? %>
        <% if @need.time_contribution_for_user(current_user.id) %>
          <% if @need.time_contribution_for_user(current_user.id).cancelled %>
            <%= link_to 'Volunteer', edit_need_time_contribution_path(@need, @need.time_contribution_for_user_id(current_user.id)), :class => "full-width-btn-purple" %>
          <%else%>
            <%= link_to 'Cancel Volunteering', edit_need_time_contribution_path(@need, @need.time_contribution_for_user_id(current_user.id)), :class => "full-width-btn-red" %>
          <% end %>
        <% else %>
          <%= link_to 'Volunteer', new_need_time_contribution_path(@need), :class => "full-width-btn-purple" %>
        <% end %>
      <% else %>
        <%= link_to 'Volunteer', new_need_time_contribution_path(@need), :class => "full-width-btn-purple" %>
      <% end %>
    <% end %>




  </div>
</div>

<!-- expensesModal -->
<div class="modal fade" id="expensesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Expenses</h4>
      </div>
       <div class="modal-body">

        <% if @need.expenses.count > 0 %>

          <% @need.expenses.each do |expense| %>
            <p>
              <%= expense.title.length > 0 ? expense.title : "No Title" %> - <%= humanized_money_with_symbol expense.amount %> - <%= expense.description.length > 0 ? expense.description : "No Description" %> - <%= expense.documentation.length > 0 ? expense.documentation : "No Documentation" %>
            </p>
          <% end %>

        <% else %>
          This need has no expenses listed.
        <% end %>

      </div>
     <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- NewExpenseModal -->
<div class="modal fade" id="NewExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Expenses</h4>
      </div>
      <div class="modal-body">
        <%= render 'expenses/form' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- skillsModal -->
<div class="modal fade" id="skillsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Skills</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- rosmModal -->
<div class="modal fade" id="rosmModal" data-need-id="<%= @need.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ROSM Records</h4>
      </div>
      <div class="modal-body">
        <p>
          Jun 18th 2012 $180 Rent Assistance - Client came to us to ask and we helped.
        </p>
        <p>
          May 11th 2014 $130 Utilities Assistance - Client came to us to ask and we helped.
        </p>
        <p>
          Jan 18th 2014 $180 Rent Assistance - Client came to us to ask and we helped.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- PublicUpdateModal -->



<% @need.updates.each do |update| %>
  <div class="modal fade" id="PublicUpdateModal<%= update.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= @need.updates.first.title %></h4>
        </div>
        <div class="modal-body">
  <!--         This only shows the first...
   -->
          <%= update.content %>

          <br>
          <br>
          <% update.images.each do |image| %>
          <div class="image-modal">
            <%= image_tag(image.image) %>
          </div>
            <br>
            <%= image.caption %>
            <br>
            <br>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>



