<div class="page-header-block">
  <div class="page-title">
    <h2>Impact Panel</h2>
  </div>
</div>

<div class="main-content">
  <% if @needs_supported.length > 0 %>
    <% @needs_supported.each do |need| %>
      <div class="need-container">
        <div class="inner-content">
          <h2 class="need-title">
            <%= link_to need.title_public, need %>
          </h2>
          <div class="contributions-list">

            <% TimeContribution.where(user:current_user, need:need).reverse.each do |time_contribution| %>

              <% if time_contribution.cancelled %>

                <div class="contribution-item">
                  <span class="volunteer-icon-cancelled"></span>
                  <span class="contribution-text">
                    You cancelled volunteering for this.
                  </span>
                </div>

                <p class="first-name">
                  <strong>When: </strong>
                  <%= need.volunteerTime.localtime.strftime("%a, %b-%d, %I:%M %p") %>
                </p>
                <p class="first-name">
                  <strong>Where: </strong>
                  <%= need.volunteerLocation %>
                </p>
                <p class="first-name">
                  <strong>What: </strong>
                  <%= need.volunteerDescription %>
                </p>


                <% if time_contribution.need.user_need_leader %>
                  <p>
                    <a href="mailto:<%= time_contribution.user.email %>" target="_top">Contact <%= time_contribution.user.full_name %> (Leader)</a>
                  </p>
                <% end %>

                <p>
                  <%= link_to "Re-sign Up for Volunteering", edit_need_time_contribution_path(need, time_contribution) %>
                </p>



              <% else %>
                <div class="contribution-item">
                  <span class="volunteer-icon"></span>
                  <span class="contribution-text">
                    You volunteered for this!
                  </span>
                </div>

                <p class="first-name">
                  <strong>When: </strong>
                  <%= need.volunteerTime.localtime.strftime("%a, %b-%d, %I:%M %p") %>
                </p>
                <p class="first-name">
                  <strong>Where: </strong>
                  <%= need.volunteerLocation %>
                </p>
                <p class="first-name">
                  <strong>What: </strong>
                  <%= need.volunteerDescription %>
                </p>

                <% if time_contribution.need.user_need_leader %>
                  <p>
                    <a href="mailto:<%= time_contribution.user.email %>" target="_top">Contact <%= time_contribution.user.full_name %> (Leader)</a>
                  </p>
                <% end %>
                <p>
                  <%= link_to "Cancel Volunteering", edit_need_time_contribution_path(need, time_contribution) %>
                </p>


              <% end %>
            <% end %>

            <% Contribution.where(user:current_user, need:need).succeded.not_reimbursed.reverse.each do |contribution| %>
              <div class="contribution-item">
                <span class="contribution-icon"></span>
                <span class="contribution-text">
                  You contributed <strong>$<%= contribution.amount %></strong>
                  <%= time_ago_in_words(contribution.created_at) %> ago
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You have not contributed to any <a href="/">needs</a> yet. </p>
  <% end %>
</div>