<div class="page-header">
  <h1>Super Admin Panel</h1>
</div>

<% @users.each do |user| %>
	<div class="user" id="user_<%= user.id %>">
		<p><%= user.full_name %></p>
		<%= simple_form_for user do |f| %>
			<div class="form form-actions">
				<%= f.association :roles, as: :check_boxes %>
				<%= submit_tag "Add As Poster", class: 'btn btn-primary' %>
			</div>
		<% end %>
	</div>
<% end %>