<div class="page-header-block">
  <div class="page-title">
    <h2>Super Admin Panel</h2>
  </div>
</div>

<div class="user-roles-admin-block container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="user-role-block" id="user_<%= user.id %>">
        <div class="inner-content">
          <p><%= user.full_name %></p>
        </div>
        <%= simple_form_for user do |f| %>
          <div class="inner-content">
            <div class="form form-actions">
              <%= f.association :roles, as: :check_boxes %>
            </div>
          </div>
          <%= submit_tag "Save Roles", class: 'action-btn' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>