
<%= simple_form_for [@need, @time_contribution] do |f| %>
  <div class="page-header-block contribution">
    <div class="page-title">
      <h2>Volunteering for <%= @need.title_public %></h2>
    </div>
  </div>

  <div class="row">
    <div class="main-content col-xs-12 col-sm-8">
      <div class="need-container contribute-form">
        <div class="inner-content">
          <% if @time_contribution.cancelled %>
            <%= f.input :cancelled, :as => :hidden, :input_html => { :value => false } %>
            <button type="submit" class="contribution full-width-btn">Re-sign Up</button>
          <% else %>
            <%= f.input :cancelled, :as => :hidden, :input_html => { :value => true } %>
            <button type="submit" class="contribution full-width-btn">Cancell Volunteering</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="secondary-box col-xs-12 col-sm-4 contribution-info-wrapper hide-on-mobile">
    <div class="inner-content ">
      <h4>Description</h4>
      <%= @need.description_public %>
    </div>
    <div class="expenses">
      <h4>Expenses</h4>
      <div class="expenses-bar" data-toggle="modal" data-target="#expensesModal">
        <span class="progress-bar" style="width:<%= @need.percent_raised %>%"></span>
        <span class="amount-raised"><%= humanized_money_with_symbol @need.total_contributed %> / <%= humanized_money_with_symbol @need.total_expenses %></span>
      </div>
    </div>
  </div>
</div>
