
<%= simple_form_for [@need, @time_contribution] do |f| %>
  <div class="page-header-block contribution">
    <div class="page-title">
      <h2>Volunteering for <%= @need.title_public %></h2>
    </div>
  </div>

  <div class="row">
    <div class="main-content col-xs-12 col-sm-8">
      <div class="need-container contribute-form">
          <% if @time_contribution.cancelled %>
        <div class="inner-content">

            <p>
            You had cancelled volunteering and we notified the Leader of this Need. Want to sign back up again to volunteer?
            </p>
            <br>

            <p class="first-name">
              <strong>When: </strong>
              <%= @need.volunteerTime.localtime.strftime("%a, %b-%d, %I:%M %p") %>
            </p>
            <p class="first-name">
              <strong>Where: </strong>
              <%= @need.volunteerLocation %>
            </p>
            <p class="first-name">
              <strong>What: </strong>
              <%= @need.volunteerDescription %>
            </p>

            <%= f.input :cancelled, :as => :hidden, :input_html => { :value => false } %>

                      <div class="terms-block">
            By clicking below this form, you agree to the
            <%= link_to "TERMS AND CONDITIONS", volunteering_terms_path, target: "_blank" %>
          </div>

                    </div>
            <button type="submit" class="contribution full-width-btn-purple">Volunteer</button>

          <% else %>
        <div class="inner-content">

            <p>
            Unable to volunteer? Click cancel below and we will notify this Need's Leader. You can always sign up again from your <%= link_to "Impact Panel", impact_panel_index_path %> located in the menu.
            </p>
            <br>
            
            <p class="first-name">
              <strong>When: </strong>
              <%= @need.volunteerTime.localtime.strftime("%a, %b-%d, %I:%M %p") %>
            </p>
            <p class="first-name">
              <strong>Where: </strong>
              <%= @need.volunteerLocation %>
            </p>
            <p class="first-name">
              <strong>What: </strong>
              <%= @need.volunteerDescription %>
            </p>

            <%= f.input :cancelled, :as => :hidden, :input_html => { :value => true } %>

                      <div class="terms-block">
            By clicking below this form, you agree to the
            <%= link_to "TERMS AND CONDITIONS", volunteering_terms_path, target: "_blank" %>
          </div>

                    </div>
            <button type="submit" class="contribution full-width-btn-red">Cancel Volunteering</button>

          <% end %>
      </div>
    <% end %>
  </div>

  <div class="secondary-box col-xs-12 col-sm-4 contribution-info-wrapper hide-on-mobile">
    <div class="inner-content ">
      <h4>Description</h4>
      <%= @need.description_public %>
    </div>
    <div class="expenses">

      <% if @need.total_expenses > 0 %>
        <h4>Expenses</h4>
        <div class="expenses-bar" data-toggle="modal" data-target="#expensesModal">
          <span class="progress-bar" style="width:<%= @need.percent_raised %>%"></span>
          <span class="amount-raised"><%= humanized_money_with_symbol @need.total_contributed %> / <%= humanized_money_with_symbol @need.total_expenses %></span>
        </div>
      <% end %>

      <% if @need.total_needed_volunteers > 0 %>
        <h4>Volunteers</h4>
        <div class="volunteers-bar" data-toggle="modal" data-target="#expensesModal">
          <span class="progress-bar" style="width:<%= @need.percent_volunteers_secured %>%"></span>
          <span class="amount-raised"><%= @need.total_volunteers %> / <%= @need.total_needed_volunteers %></span>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
