
<%= simple_form_for [@need, @time_contribution] do |f| %>
  <div class="page-header-block contribution">
    <div class="page-title">
      <h2>Volunteering for <%= @need.title_public %></h2>
    </div>
  </div>

  <div class="row">
    <div class="main-content col-xs-12 col-sm-8">
      <div class="need-container contribute-form">
        <div class="inner-content">


          <div class="terms-block">
            By Submitting this form, you agree to the
            <%= link_to "TERMS AND CONDITIONS", contribution_terms_path, target: "_blank" %>
          </div>
        </div>
            <button type="submit" class="contribution full-width-btn-purple">Volunteer</button>
      </div>
    <% end %>
  </div>

  <div class="secondary-box col-xs-12 col-sm-4 contribution-info-wrapper hide-on-mobile">
    <div class="inner-content ">
      <h4>Description</h4>
      <%= @need.description_public %>
    </div>
    <div class="expenses">
      <% if @need.total_expenses > 0 %>
        <h4>Expenses</h4>
        <div class="expenses-bar" data-toggle="modal" data-target="#expensesModal">
          <span class="progress-bar" style="width:<%= @need.percent_raised %>%"></span>
          <span class="amount-raised"><%= humanized_money_with_symbol @need.total_contributed %> / <%= humanized_money_with_symbol @need.total_expenses %></span>
        </div>
      <% end %>

      <% if @need.total_needed_volunteers > 0 %>
        <h4>Volunteers</h4>
        <div class="volunteers-bar" data-toggle="modal" data-target="#expensesModal">
          <span class="progress-bar" style="width:<%= @need.percent_volunteers_secured %>%"></span>
          <span class="amount-raised"><%= @need.total_volunteers %> / <%= @need.total_needed_volunteers %></span>
        </div>
      <% end %>

    </div>
  </div>
</div>
