<% if current_user.has_role? :church_admin %>
  <div class="page-header-block">
    <div class="page-title">
      <h2>Church Admin Panel</h2>


      
    </div>

    <ul class="nav nav-pills page-options">

        <% if params.has_key?(:selected) %>
          <li>
        <% else %>
          <li class= "active">
        <% end %>
        <a href="#IncomingNeeds" data-toggle="tab">
          <% if @needs_admin_incoming.count > 0 %>
            <span class="count-number pull-left"><%= @needs_admin_incoming.count %></span>
          <% end %>
          <% if @needs_admin_incoming.count == 1 %>
            Incoming Need
          <% else %>
            Incoming Needs
          <% end %>
        </a>
      </li>
        <% if params.has_key?(:selected) %>
          <li class= "active">
        <% else %>
          <li>
        <% end %>
        <a href="#InProgressNeeds" data-toggle="tab">
          <% if @needs_admin_in_progress.count > 0 %>
            <span class="count-number pull-left"><%= @needs_admin_in_progress.count %></span>
          <% end %>
          <% if @needs_admin_in_progress.count == 1 %>
            In Progress Need
          <% else %>
            In Progress Needs
          <% end %>
        </a>
      </li>
      <li>
        <a href="#CompletedNeeds" data-toggle="tab">
          <% if @needs_admin_completed.count > 0 %>
            <span class="count-number pull-left"><%= @needs_admin_completed.count %></span>
          <% end %>
          <% if @needs_admin_completed.count == 1 %>
            Completed Need
          <% else %>
            Completed Needs
          <% end %>
        </a>
      </li>
      <li>
        <a href="#DeniedNeeds" data-toggle="tab">
          <% if @needs_admin_denied.count > 0 %>
            <span class="count-number pull-left"><%= @needs_admin_denied.count %></span>
          <% end %>
          <% if @needs_admin_denied.count == 1 %>
            Denied Need
          <% else %>
            Denied Needs
          <% end %>
        </a>
      </li>

    </ul>
  </div>

  <div id='content' class="tab-content main-content">


        <% if params.has_key?(:selected) %>
    <div class="tab-pane" id="IncomingNeeds">
        <% else %>
    <div class="tab-pane active" id="IncomingNeeds">
        <% end %>


      <% @needs_admin_incoming.each do |need| %>
        <div class="need-container">
          <div class="inner-content">
            <h2 class="need-title">
              <%= link_to need.title, need %>
            </h2>
            <div class="need-description">
              <p><%= need.description %></p>

              <div class="row need-details">
                <div class="expenses col-xs-12 col-sm-6">
                  <h3>Expenses</h3>
                  <div class="expenses-bar">
                    <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                    <span class="amount-raised"><%= humanized_money_with_symbol need.total_contributed %> / <%= humanized_money_with_symbol need.total_expenses %></span>
                  </div>
                </div>
                <div class="skills col-xs-12 col-sm-6">
                  <h3>Skills / Resources</h3>
                  <ul class="skills-list">
                    <% if need.skills_count > 0 %>
                      <% need.skills.each do |skill| %>
                        <li class="skill-tag">
                          <span class="skill-icon">
                            <%= image_tag(skill.icon_url) %>
                          </span>
                          <%= skill.name %>
                        </li>
                      <% end %>
                    <% else %>
                      No skills added yet.
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row responsibility-bar">
              <div class="responsible-user col-xs-4">
                <div class="user-title">
                  <h3>Posted By</h3>
                </div>
                <% if !need.user_posted_by.avatar_file_name.nil? %>
                  <div class="user-image">
                    <%= image_tag(need.user_posted_by.avatar(:large), class: "img-circle") %>
                  </div>
                <% else %>
                  <div class="placeholder-leader-image"></div>
                <% end %>
                <div class="user-details">
                  <%= need.user_posted_by.full_name %>
                  <p class="small-italic"> Member - Church of Lexington </p>
                </div>
              </div>

              <div class="responsible-user col-xs-4">
                <div class="user-title">
                  <h3>Admin</h3>
                </div>
            <% if !need.user_church_admin.avatar_file_name.nil? %>
              <div class="user-image">
                <%= image_tag(need.user_church_admin.avatar(:large), class: "img-circle") %>
              </div>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                <div class="user-details">
                  <%= need.user_church_admin.full_name %>
                  <% if need.user_church_admin.associated_organization && need.user_church_admin.associated_organization_url %>
                    <p class="small-italic"> Admin - <a href=<%=need.user_church_admin.associated_organization_url%>><%=need.user_church_admin.associated_organization%></a> </p>
                  <% else %>
                    <p class="small-italic"> Admin - Church of Lexington </p>
                  <% end %>
                </div>
              </div>

              <div class="responsible-user col-xs-4">
                <div class="user-title">
                  <h3>Leader</h3>
                </div>
                <div class="user-image">

            <% if need.user_need_leader %>
              <% if !need.user_need_leader.avatar_file_name.nil? %>
                <div class="user-image">
                  <%= image_tag(need.user_need_leader.avatar(:large), class: "img-circle") %>
                </div>
              <% else %>
                <div class="placeholder-leader-image"></div>
              <% end %>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                  <div class="user-details">
                    <% if need.user_need_leader %>
                      <%= need.user_need_leader.full_name %>
                      <% if need.user_need_leader.associated_organization && need.user_need_leader.associated_organization_url %>
                        <p class="small-italic"> Leader - <a href=<%=need.user_need_leader.associated_organization_url%>><%=need.user_need_leader.associated_organization%></a> </p>
                      <% else %>
                        <p class="small-italic"> Leader - Church of Lexington </p>
                      <% end %>
                    <% else %>
                      No Leader
                    <% end %> 
                  </div>



                </div>
              </div>
            </div>
          </div>




            <div class="row no-margin">
              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_denied } %>
                <div class="form-actions">
                  <%= f.submit "Mark as Denied", :class => "half-width-btn col-xs-6 red-btn" %>
                </div>
              <% end %>

              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_in_progress } %>
                <div class="form-actions">
                  <%= f.submit "Move To In Progress", :class => "half-width-btn col-xs-6 blue-btn" %>
                </div>
              <% end %>
            </div>







        </div>
      <% end %>
    </div>


        <% if params.has_key?(:selected) %>
            <div class="tab-pane active" id="InProgressNeeds">

        <% else %>
            <div class="tab-pane" id="InProgressNeeds">

        <% end %>

      <% @needs_admin_in_progress.each do |need| %>
        <% if need.need_stage_value == 2 %>
          <div class="need-container">
            <% if need.is_public %>
              <div class="toggle-public"></div>
              <%= simple_form_for(need, :url => needs_set_is_public_path, :method => :post, html: {class: "change-status"}) do |f| %>
                <%= f.input :id, :as => :hidden, :input_html => { :value => need.id } %>
                <%= f.input :is_public, :as => :hidden, :input_html => { :value => false } %>
                <div class="form-actions toggle-container">
                  <span class="toggle-btn green">Public</span>
                  <%= f.submit "Private", :class => "toggle-btn right" %>
                </div>
              <% end %>
            <% else %>
              <div class="toggle-public"></div>
                <%= simple_form_for(need, :url => needs_set_is_public_path, :method => :post, html: {class: "change-status"}) do |f| %>
                  <%= f.input :id, :as => :hidden, :input_html => { :value => need.id } %>
                  <%= f.input :is_public, :as => :hidden, :input_html => { :value => true } %>
                  <div class="form-actions toggle-container">
                    <%= f.submit "Public", :class => "toggle-btn left" %>
                    <span class="toggle-btn red">Private
                  </span>
                  </div>
                <% end %>
            <% end %>
            <div class="inner-content">
              <h2 class="need-title">
                <%= link_to need.title, need %>
              </h2>
              <div class="need-description">
                <p><%= need.description %></p>

                <div class="row need-details">
                  <div class="expenses col-xs-12 col-sm-6">
                    <h3>Expenses</h3>
                    <div class="expenses-bar">
                      <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                      <span class="amount-raised"><%= humanized_money_with_symbol need.total_contributed %> / <%= humanized_money_with_symbol need.total_expenses %></span>
                    </div>
                  </div>
                  <div class="skills col-xs-12 col-sm-6">
                    <h3>Skills / Resources</h3>
                    <ul class="skills-list">
                      <% if need.skills_count > 0 %>
                        <% need.skills.each do |skill| %>
                          <li class="skill-tag">
                            <span class="skill-icon">
                              <%= image_tag(skill.icon_url) %>
                            </span>
                            <%= skill.name %>
                          </li>
                        <% end %>
                      <% else %>
                        No skills added yet.
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row responsibility-bar">
                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Posted By</h3>
                  </div>
                  <% if !need.user_posted_by.avatar_file_name.nil? %>
                    <div class="user-image">
                      <%= image_tag(need.user_posted_by.avatar(:large), class: "img-circle") %>
                    </div>
                  <% else %>
                    <div class="placeholder-leader-image"></div>
                  <% end %>
                  <div class="user-details">
                    <%= need.user_posted_by.full_name %>
                    <p class="small-italic"> Member - Church of Lexington </p>
                  </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Admin</h3>
                  </div>
                  <% if !need.user_church_admin.avatar_file_name.nil? %>
                    <div class="user-image">
                      <%= image_tag(need.user_church_admin.avatar(:large), class: "img-circle") %>
                    </div>
                  <% else %>
                    <div class="placeholder-leader-image"></div>
                  <% end %>
                <div class="user-details">
                  <%= need.user_church_admin.full_name %>
                  <% if need.user_church_admin.associated_organization && need.user_church_admin.associated_organization_url %>
                    <p class="small-italic"> Admin - <a href=<%=need.user_church_admin.associated_organization_url%>><%=need.user_church_admin.associated_organization%></a> </p>
                  <% else %>
                    <p class="small-italic"> Admin - Church of Lexington </p>
                  <% end %>
                </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Leader</h3>
                  </div>
                  <div class="user-image">

            <% if need.user_need_leader %>
              <% if !need.user_need_leader.avatar_file_name.nil? %>
                <div class="user-image">
                  <%= image_tag(need.user_need_leader.avatar(:large), class: "img-circle") %>
                </div>
              <% else %>
                <div class="placeholder-leader-image"></div>
              <% end %>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                  <div class="user-details">
                    <% if need.user_need_leader %>
                      <%= need.user_need_leader.full_name %>
                      <% if need.user_need_leader.associated_organization && need.user_need_leader.associated_organization_url %>
                        <p class="small-italic"> Leader - <a href=<%=need.user_need_leader.associated_organization_url%>><%=need.user_need_leader.associated_organization%></a> </p>
                      <% else %>
                        <p class="small-italic"> Leader - Church of Lexington </p>
                      <% end %>
                    <% else %>
                      No Leader
                    <% end %> 
                  </div>


                  
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-margin">
              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_incoming } %>
                <div class="form-actions">
                  <%= f.submit "Mark as Incoming", :class => "half-width-btn col-xs-6 blue-btn" %>
                </div>
              <% end %>

              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_completed } %>
                <div class="form-actions">
                  <%= f.submit "Move To Completed", :class => "half-width-btn col-xs-6 blue-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab-pane" id="CompletedNeeds">
      <% if @needs_admin_completed.length < 1 %>
        <p>None of the needs you are responsible for have been completed at this time.</p>
      <% end %>
      <% @needs_admin_completed.each do |need| %>
        <% if need.need_stage_value == 3 %>
          <div class="need-container">
            <div class="inner-content">
              <h2 class="need-title">
                <%= link_to need.title, need %>
              </h2>
              <div class="need-description">
                <p><%= need.description %></p>

                <div class="row need-details">
                  <div class="expenses col-xs-12 col-sm-6">
                    <h3>Expenses</h3>
                    <div class="expenses-bar">
                      <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                      <span class="amount-raised"><%= humanized_money_with_symbol need.total_contributed %> / <%= humanized_money_with_symbol need.total_expenses %></span>
                    </div>
                  </div>
                  <div class="skills col-xs-12 col-sm-6">
                    <h3>Skills / Resources</h3>
                    <ul class="skills-list">
                      <% if need.skills_count > 0 %>
                        <% need.skills.each do |skill| %>
                          <li class="skill-tag">
                            <span class="skill-icon">
                              <%= image_tag(skill.icon_url) %>
                            </span>
                            <%= skill.name %>
                          </li>
                        <% end %>
                      <% else %>
                        No skills added yet.
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row responsibility-bar">
                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Posted By</h3>
                  </div>
                  <% if !need.user_posted_by.avatar_file_name.nil? %>
                    <div class="user-image">
                      <%= image_tag(need.user_posted_by.avatar(:large), class: "img-circle") %>
                    </div>
                  <% else %>
                    <div class="placeholder-leader-image"></div>
                  <% end %>
                  <div class="user-details">
                    <%= need.user_posted_by.full_name %>
                    <p class="small-italic"> Member - Church of Lexington </p>
                  </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Admin</h3>
                  </div>
            <% if !need.user_church_admin.avatar_file_name.nil? %>
              <div class="user-image">
                <%= image_tag(need.user_church_admin.avatar(:large), class: "img-circle") %>
              </div>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                <div class="user-details">
                  <%= need.user_church_admin.full_name %>
                  <% if need.user_church_admin.associated_organization && need.user_church_admin.associated_organization_url %>
                    <p class="small-italic"> Admin - <a href=<%=need.user_church_admin.associated_organization_url%>><%=need.user_church_admin.associated_organization%></a> </p>
                  <% else %>
                    <p class="small-italic"> Admin - Church of Lexington </p>
                  <% end %>
                </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Leader</h3>
                  </div>
                  <div class="user-image">

            <% if need.user_need_leader %>
              <% if !need.user_need_leader.avatar_file_name.nil? %>
                <div class="user-image">
                  <%= image_tag(need.user_need_leader.avatar(:large), class: "img-circle") %>
                </div>
              <% else %>
                <div class="placeholder-leader-image"></div>
              <% end %>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                  <div class="user-details">
                    <% if need.user_need_leader %>
                      <%= need.user_need_leader.full_name %>
                      <% if need.user_need_leader.associated_organization && need.user_need_leader.associated_organization_url %>
                        <p class="small-italic"> Leader - <a href=<%=need.user_need_leader.associated_organization_url%>><%=need.user_need_leader.associated_organization%></a> </p>
                      <% else %>
                        <p class="small-italic"> Leader - Church of Lexington </p>
                      <% end %>
                    <% else %>
                      No Leader
                    <% end %> 
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row no-margin">
              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_in_progress } %>
                <div class="form-actions">
                  <%= f.submit "Move To In Progress", :class => "full-width-btn" %>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>



    <div class="tab-pane" id="DeniedNeeds">
      <% if @needs_admin_denied.length < 1 %>
        <p>None of the needs you are responsible for have been completed at this time.</p>
      <% end %>
      <% @needs_admin_denied.each do |need| %>
        <% if need.need_stage_value == 4 %>
          <div class="need-container">
            <div class="inner-content">
              <h2 class="need-title">
                <%= link_to need.title, need %>
              </h2>
              <div class="need-description">
                <p><%= need.description %></p>

                <div class="row need-details">
                  <div class="expenses col-xs-12 col-sm-6">
                    <h3>Expenses</h3>
                    <div class="expenses-bar">
                      <span class="progress-bar" style="width:<%= need.percent_raised %>%"></span>
                      <span class="amount-raised"><%= humanized_money_with_symbol need.total_contributed %> / <%= humanized_money_with_symbol need.total_expenses %></span>
                    </div>
                  </div>
                  <div class="skills col-xs-12 col-sm-6">
                    <h3>Skills / Resources</h3>
                    <ul class="skills-list">
                      <% if need.skills_count > 0 %>
                        <% need.skills.each do |skill| %>
                          <li class="skill-tag">
                            <span class="skill-icon">
                              <%= image_tag(skill.icon_url) %>
                            </span>
                            <%= skill.name %>
                          </li>
                        <% end %>
                      <% else %>
                        No skills added yet.
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row responsibility-bar">
                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Posted By</h3>
                  </div>
                  <% if !need.user_posted_by.avatar_file_name.nil? %>
                    <div class="user-image">
                      <%= image_tag(need.user_posted_by.avatar(:large), class: "img-circle") %>
                    </div>
                  <% else %>
                    <div class="placeholder-leader-image"></div>
                  <% end %>
                  <div class="user-details">
                    <%= need.user_posted_by.full_name %>
                    <p class="small-italic"> Member - Church of Lexington </p>
                  </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Admin</h3>
                  </div>
            <% if !need.user_church_admin.avatar_file_name.nil? %>
              <div class="user-image">
                <%= image_tag(need.user_church_admin.avatar(:large), class: "img-circle") %>
              </div>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                <div class="user-details">
                  <%= need.user_church_admin.full_name %>
                  <% if need.user_church_admin.associated_organization && need.user_church_admin.associated_organization_url %>
                    <p class="small-italic"> Admin - <a href=<%=need.user_church_admin.associated_organization_url%>><%=need.user_church_admin.associated_organization%></a> </p>
                  <% else %>
                    <p class="small-italic"> Admin - Church of Lexington </p>
                  <% end %>
                </div>
                </div>

                <div class="responsible-user col-xs-4">
                  <div class="user-title">
                    <h3>Leader</h3>
                  </div>
                  <div class="user-image">

            <% if need.user_need_leader %>
              <% if !need.user_need_leader.avatar_file_name.nil? %>
                <div class="user-image">
                  <%= image_tag(need.user_need_leader.avatar(:large), class: "img-circle") %>
                </div>
              <% else %>
                <div class="placeholder-leader-image"></div>
              <% end %>
            <% else %>
              <div class="placeholder-leader-image"></div>
            <% end %>

                  <div class="user-details">
                    <% if need.user_need_leader %>
                      <%= need.user_need_leader.full_name %>
                      <% if need.user_need_leader.associated_organization && need.user_need_leader.associated_organization_url %>
                        <p class="small-italic"> Leader - <a href=<%=need.user_need_leader.associated_organization_url%>><%=need.user_need_leader.associated_organization%></a> </p>
                      <% else %>
                        <p class="small-italic"> Leader - Church of Lexington </p>
                      <% end %>
                    <% else %>
                      No Leader
                    <% end %> 
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row no-margin">
              <%= simple_form_for(need, html: {class: "change-status"}) do |f| %>
                <%= f.input :need_stage, :as => :hidden, :input_html => { :value => :admin_incoming } %>
                <div class="form-actions">
                  <%= f.submit "Restore as Incoming", :class => "full-width-btn" %>
                </div>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>










  </div>
<% elsif current_user.has_role? :pending_church_admin %>
  <div class="page-header-block">
    <div class="page-title">
      <h2>Church Admin Agreement</h2>
    </div>
      
<br>
<br>
<i><h3>Receiving Funding:</h3></i>
<br>
<p>
All contributions are sent directly to ROSM. ROSM will be sending checks out weekly to the Churches that each Church Admin is associated with. For now this means that most Needs will need to be covered upfront by each individual church. If your church needs assistance in this please let us know at support@church-of.com. Although we have a policy of no returns there may be some cases where we must such as a lost or stolen card. In the event of this we will need to request that the contribution in question is returned. We don't anticipate much of this.
</p>
<br>
<br>
<i><h3>ROSM Agreement:</h3></i>
<br>
<p>
Church of Lexington strives to provide the necessary tools for Church Admins to make informed decisions about the needs that come to their attention. As such we have partnered with ROSM. ROSM holds a database that is contributed by a large number of Churches and Non-Profits. The Church of Lexington platform (1) records all Needs into ROSM and (2) Provides Church Admins with information from the ROSM database that pertains to the Need at hand. Because of this all Church Admins need to agree to ROSM’s Confidentiality Form shown below:
</p>
<br>
<p>
<i>
Statement of Understanding:  ROSM and local Congregations and Ministries
<br>
<strike>
As a participating organization, we understand that there is a cost associated with maintaining the ROSM Database web-site and the people supporting it.  We agree to help offset the cost of this valuable resource by donating a minimum of $300.00 per year.  This fee is rated per congregation and can be utilized by up to 5 persons, contingent upon compliance with the other essential parts of this agreement.  Please make your checks out to ROSM and mail them to 3100 Tastes Creek Road Lexington, KY  40502.
</strike>
<br>
<strike>
We understand that we are under no obligation to provide additional funds to ROSM to use the informal database web-site.  We also understand that additional donations will be greatly appreciated by ROSM to offset normal operating expenses.  ROSM is a not-for-profit organization, totally dependent on gifts from local religious organizations.
</strike>
<br>
CONFIDENTIALITY – it is imperative that you exercise diligence in maintaining professional confidence for each client’s personal information.  Information from this web-site should only be used by those in the organization responsible for making an informed decision relating to the client’s request for assistance.  Sharing of passwords or information from the Website for any other reason is strictly prohibited.
<br>
User name/Passwords - when you are issued a password, it is yours and yours alone.  Each person using the ROSM web-site must have completed training and signed an agreement with ROSM before a password will be issued to them.  If a person terminates his role as a volunteer, the organization shall notify ROSM immediately so it can cancel the password and terminate access to the system.
<br>
ACCURATE INFORMATION – It is critical that anyone entering information into the system on ROSM’s informational data base web-site use accurate information.  When using the system, it is required that you complete as many of the fields as possible.  This is crucial to the web-site efficiency, both now and in future years.  Further, it is essential that you advise the ROSM Coordinator immediately if you suspect a party may be making multiple requests for the same need or otherwise violating the purposes of the resources available through participating organizations.
<br>
  The ROSM Coordinator has the ability to communicate in an immediate fashion to a broad spectrum of local congregations, making this service of vital importance.  This ROSM feature will continue to serve us all, but only to the extent that you pass such information along, both on the system and to the ROSM Coordinator.
We acknowledge and accept the terms and conditions stated herein regarding all matters pertaining to the ROSM Database web-site and are willing to abide by the terms and conditions of this agreement by <strike>signing</strike> clicking below.
</i>
</p>
<br>
<br>
<i><h3>Confidentiality:</h3></i>
<br>
<p>
As a Church Admin you will be able to see private information that is intended to be managed by those seeing that the Need is met properly. As such you must not share any information that is not public outside of any appropriate paths. The "Church of" organization will also have access to the information to insure that the system is being used effectively and with integrity.
</p>
<br>
<br>
<i><h3>Need Completion:</h3></i>
<br>
<p>
If a need is not completed financially you may choose to either apply the funds to the Need in part or refund everyone's transactions. Since their are no "end dates" it is also possible to wait for the funds to come in over time. Should you choose to cancel a Need contact support so we can be clear to the Users that have contributed. It is very important that we keep a high level of integrity in giving the money to the right places that we have said it would go. This means being open with the status of the project through posting frequent public updates.
</p>
<br>
<br>
<i><h3>Ecumenical Nature:</h3></i>
<br>
The Church of Lexington aims to unite the Christian Church through service. We understand this is hard to define so we have gone back to one of the earliest ecumenical statements of faith for clarity: The Apostles Creed. In order to be an Admin and in turn represent the Christian Church you and your Church Leadership must agree to the Apostles Creed.
<br>
<br>
<br>
<br>
 


    <%= simple_form_for(current_user, :url => users_agree_to_church_admin_agreement_path, :method => :post, html: {class: "change-status"}) do |f| %>
      <%= f.submit "I Agree to the Above" %>
    <% end %>
  </div>
<% end %>