<br>
<br>
<br>
<br>
<div class="container devise">
  <div class="row">
    <div class="devise-form-wrapper">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "well devise"}) do |f| %>
          <fieldset>
            <legend><h2>Log In</h2></ledgend>
          </fieldset>
          <%= devise_error_messages! %>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.label :remember_me, "Remember me?" %><%= f.check_box :remember_me %>
            
          </div>
        <% end -%>

        <div>
          <%= f.submit "Log in", :class => "action-btn" %>
        </div>
        <br>
        <div class="devise-shared-links">
  <%= render "devise/shared/links" %>
</div>

      <% end %>
    </div>
  </div>
</div>

