<%= simple_form_for [@need, @update] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

<%= f.fields_for :images do |builder| %>
  <div class="field">
    <%= builder.label :image %><br />
    <%= f.file_field :image %>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
