





<%= simple_nested_form_for [@need, @update] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

  <h3>Images</h3>

<%= f.fields_for :images do |image| %>
  <div class="field">
    <%= image.file_field :image %>
    <%= image.input :caption %>
    <%= image.link_to_remove "Remove this image" %>
  </div>
<% end %>

<p><%= f.link_to_add "Add an image", :images %></p>

  <p>
    <%= f.submit %>
  </p>
<% end %>