<%= simple_nested_form_for @resource do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this expense from being saved:</h2>
      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field-pair">
        <%= f.input :title %>
      </div>
      <div class="field-pair">
        <%= f.input :description %>
      </div>
      <div class="field-pair">
        <%= f.input :website %>
      </div>
      <div class="field-pair">
        <%= f.input :contact_phone %>
      </div>
      <div class="field-pair">
        <%= f.input :contact_email %>
      </div>

      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

      <div class="field-pair">
        <%= f.input :availability_status %>
      </div>
      <div class="field-pair">
        <%= f.input :status %>
      </div>
      <div class="field-pair">
        <%= f.input :address %>
      </div>

      <div class="field-pair">
        <%= f.input :organization_id, collection: Organization.all.order('title'), label_method: :title %>
      </div>
        <div>
          <%= f.association :skills, as: :check_boxes %>
        </div>

      <div class="field-pair">
        <%= f.input :public_status %>
      </div>
      <br>
      <br>







          <h4>Events</h4>

          <%= f.fields_for :resource_events do |resource_event| %>
          <div class="update-wrapper">
            <div class="update-inner-content">
              <div class="form-inputs">
                <div class="field-pair">
                  <%= resource_event.select_recurring :schedule %>
                </div>
                <div class="field-pair">
                  <%= resource_event.input :start_time, :ampm => true %>
                </div>
                <div class="field-pair">
                  <%= resource_event.input :end_time, :ampm => true %>
                </div>
              </div>
              <%= resource_event.link_to_remove "Remove Event" %>
            </div>
            </div>
          <% end %>

          <p><%= f.link_to_add "+ Add an Event", :resource_events %></p>
        </div>










<br>
      <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>