
<% if params[:selected_skill] == "Free Meals" %>
	<div class="notice-well">
		<div class="notice-image-2">
		</div>
		<div class="notice-text">
			Looking for Free Meals? Have an iPhone? Download our app to find the closest next available free meal!
		</div>
	</div>
<% end %>

<% if @users.count > 0 %>
	<% if @users.count == 1 %>
		<div class="notice-well">
			<div class="notice-image-1">
			</div>
			<div class="notice-text">
				There is 1 user who has the “<%= params[:selected_skill] %>” skill. Post a Need and they will be notified.
			</div>
		</div>
	<% else %>
		<div class="notice-well">
			<div class="notice-image-1">
			</div>
			<div class="notice-text">
				There are <%= @users.count %> users who have the “<%= params[:selected_skill] %>” skill. Post a Need and they will all be notified.
			</div>
		</div>
	<% end %>
<% end %>


<% @organizations.each do |organization| %>
		<br>
		<b><h2>
		<%= link_to organization.title, organization %>

			<% if organization.is_verified %>
				<span class="org-verified-icon"><%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_on.png") %></span>
			<% end %>
		</h2></b>

		<% @resources.each do |resource| %>
			<% if resource.organization == organization %>
				<%= render 'resource', resource: resource %>
			<% end %>
		<% end %>
<% end %>


 <% if @resources.count == 0 %>
	<br>
    <br>
    <h2>No Programs found. Try selecting different search parameters.</h2>
 <% end %>

<%= paginate @organizations %>
