

<% if @needs_no_organization_category %>
	<p>
		<b><h2>No Organization</h2></b>
		<% @resources.each do |resource| %>
			<% if resource.organization == nil %>
				




<p><b>Title:</b> <%= resource.title %></p>
			<% resource.skills.each do |skill| %>
        <li class="skill-tag">
          <span class="skill-icon">
            <%= image_tag(skill.icon_url) %>
          </span>
          <%= skill.name %>
        </li>
			<% end %>
			<p><b>Description:</b> <%= resource.description %></p>
			<p><b>Website:</b> <%= resource.website %></p>
			<p><b>Contact Phone:</b> <%= resource.contact_phone %></p>
			<p><b>Contact Email:</b> <%= resource.contact_email %></p>
			<p><b>Availability Status:</b> <%= resource.availability_status %></p>
			<p><b>Status:</b> <%= resource.status %></p>
			<p><b>Address:</b> <%= resource.address %></p>
			<% if resource.user %>
			<% if resource.is_verified %>
				<p>VERIFIED RESOURCE - <b>Managed By:</b> <%= resource.user.full_name %> from <%=resource.organization.title %> </p>
			<% else %>
				<p>NOT VERIFIED RESOURCE - <b>Managed By:</b> <%= resource.user.full_name %> from Church of Lexington</p>
			<% end %>
			<p><b>Public Status:</b> <%= resource.public_status %></p>
		    <% begin %>
				<% resource.resource_events.each do |resource_event| %>
					<p>
						<%= resource_event.schedule_ice_cube.to_s %>:
						<%= resource_event.start_time.strftime('%I:%M %p') %> - 
						<%= resource_event.end_time.strftime('%I:%M %p') %>
					</p>
				<% end %>
      <% rescue %>
    <% end %>
		<p><b>Flagged:</b> <%= resource.flagged %></p>
    <% if user_signed_in? %>
    	<% if current_user.has_role? :church_admin %>
        <% if resource.resource_flag_for_user(current_user.id) %>
          <% if resource.resource_flag_for_user(current_user.id).flagged %>
            <%= link_to 'Edit Flag', edit_resource_resource_flag_path(resource, resource.resource_flag_for_user_id(current_user.id)), :class => "need-btn-link full-width-btn-red" %>
          <%else%>
            <%= link_to 'Flag', edit_resource_resource_flag_path(resource, resource.resource_flag_for_user_id(current_user.id)), :class => "need-btn-link full-width-btn-red" %>
					<% end %>
        <% else %>
          <%= link_to 'Flag', new_resource_resource_flag_path(resource), :class => "need-btn-link full-width-btn-red" %>
        <% end %>
      <% end %>
    <% end %>
	<% end %>
<br>





			<% end %>
		<% end %>
	</p>
	<br>
<% end %>

<% @organizations.each do |organization| %>
	<p>
		<b><h2><%= organization.title %><span class="org-verified-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_on.png") %>
      </span></h2></b>
		<% if organization.is_verified %>
			

      



		<% end %>
		<% @resources.each do |resource| %>
			<% if resource.organization %>
				<% if resource.organization == organization %>



<div class="needs main-content" id="needs-full-list">

  <div class="resource-container">
    <div class="inner-content">


   <div class="row">
      <div class="col-xs-12 col-sm-12">

        

		<h2 class="resource-title"><%= resource.title %>
			<% if resource.availability_status %>
				<% if resource.availability_status.fully_available? %>
					<% if resource.status.length > 0 %>
						<font color="69c773">(Fully Available - <%= resource.status %>)</font></h2>
					<% else %>
				  		<font color="69c773">(Fully Available)</font></h2>
					<% end %>
			  	<% elsif resource.availability_status.mostly_available? %>
					<% if resource.status.length > 0 %>
						<font color="69c773">(Mostly Available - <%= resource.status %>)</font></h2>
					<% else %>
				  		<font color="69c773">(Mostly Available)</font></h2>
					<% end %>
			  	<% elsif resource.availability_status.mostly_not_available? %>
			  		<% if resource.status.length > 0 %>
						<font color="FF8A3B">(Nearing Limit - <%= resource.status %>)</font></h2>
					<% else %>
				  		<font color="FF8A3B">(Nearing Limit)</font></h2>
					<% end %>
			  	<% elsif resource.availability_status.not_available? %>
			  		<% if resource.status.length > 0 %>
						<font color="e06c69">(Not Available - <%= resource.status %>)</font></h2>
					<% else %>
				  		<font color="e06c69">(Not Available)</font></h2>
					<% end %>
			  	<% elsif resource.availability_status.nil? %>
			  		<% if resource.status.length > 0 %>
						<font color="58A1EB">(<%= resource.status %>)</font></h2>
					<% end %>
				<% end %>
			<% end %>
		</div>






		<div class="skills col-xs-12 col-sm-12">
            <ul class="skills-list">
              <% if resource.skills.count > 0 %>
                <% resource.skills.each do |skill| %>
                  <li class="skill-tag">
                    <span class="skill-icon">
                      <%= image_tag(skill.icon_url) %>
                    </span>
                    <%= skill.name %>
                  </li>
                <% end %>
              <% else %>
                No skills added yet.
              <% end %>
            </ul>
        </div>


		<% if resource.flagged %>
		    <div class="resource-alert-red">
		      This resource has been flagged enough times to be removed. You are only seeing it because of your role. It is not visible to the general public.
		    </div>
		<% end %>

		<% if !resource.public_status.available_to_public? %>
		    <div class="resource-alert-orange">
				This resource is not public. You are only seeing it because of your role. It is not visible to the general public.
			</div>
		<% end %>

		<% if resource.current_percentage_flagged > 10.0 %>
			<div class="resource-alert-red">
				This resource has been flagged by <%= resource.current_percentage_flagged %>% of Church Admins.
			</div>
		<% end %>


	<% if resource.description.length > 0 %>
      <div class="resource-description col-xs-12 col-sm-12">
		<%= resource.description %>
      </div>
    <% end %>

	<% if resource.resource_events.count > 0 %>
      <div class="field-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/728-clock%402x.png") %>
        <% begin %>
			<% resource.resource_events.each do |resource_event| %>
				<span class="field-description">
				<%= resource_event.schedule_ice_cube.to_s %>:
				<%= resource_event.start_time.strftime('%I:%M %p') %> - 
				<%= resource_event.end_time.strftime('%I:%M %p') %>.
				</span>
			<% end %>
      	<% rescue %>
    	<% end %>
      </div>
    <% end %>

	<% if resource.contact_email.length > 0 %>
      <div class="field-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/730-envelope%402x.png") %>
		<span class="field-description">
		<%= resource.contact_email %>
		</span>
      </div>
    <% end %>

	<% if resource.website.length > 0 %>
      <div class="field-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/715-globe%402x.png") %>
		<span class="field-description">
        <%= resource.website %>
		</span>
      </div>
    <% end %>

	<% if resource.contact_phone.length > 0 %>
      <div class="field-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/735-phone%402x.png") %>
		<span class="field-description">
        <%= resource.contact_phone %>
		</span>
      </div>
    <% end %>

	<% if resource.address.length > 0 %>
      <div class="field-icon">
        <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/722-location-pin%402x.png") %>
		<span class="field-description">
        <%= resource.address %>
		</span>
      </div>
    <% end %>

    <% if resource.user %>
		<% if resource.is_verified %>
		    <div class="field-icon">
			    <%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_on.png") %>
				<span class="field-description">
					Managed by <%= resource.user.full_name %> from <%=resource.organization.title %>
				</span>
		    </div>
		<% else %>
			<div class="field-icon">
				<%= image_tag("https://s3.amazonaws.com/church_of/assets/resource_assets/check_off.png") %>
				<span class="field-description">
					Managed by <%= resource.user.full_name %> from Church of Lexington
				</span>
			</div>
		<% end %>
	<% end %>

    <div class="last-updated">
      	Last Updated: <%= time_ago_in_words(resource.updated_at) %> ago <a href="mailto:support@church-of.com" target="_top">Suggest an Edit</a>

	   <% if user_signed_in? %>
	   	<% if current_user.has_role? :church_admin %>
	       <% if resource.resource_flag_for_user(current_user.id) %>
	         <% if resource.resource_flag_for_user(current_user.id).flagged %>
	           <%= link_to 'Edit Flag', edit_resource_resource_flag_path(resource, resource.resource_flag_for_user_id(current_user.id)), :class => "flag-button" %>
	         <%else%>
	           <%= link_to 'Flag', edit_resource_resource_flag_path(resource, resource.resource_flag_for_user_id(current_user.id)), :class => "flag-button" %>
			<% end %>
	       <% else %>
	         <%= link_to 'Flag', new_resource_resource_flag_path(resource), :class => "flag-button" %>
	       <% end %>
	     <% end %>
	   <% end %>
      </div>

      

</div>

</div>
</div>
</div>

</div>




				<% end %>
			<% end %>
		<% end %>
	</p>
	<br>
<% end %>
