Hello <%= @user_posted_by.full_name %>,
<br>
<br>
The need that you are posted: <a href="https://www.church-of.com/needs/<%=@need.id%>"><%= @need.title %></a>
<br>
<br>
Has a new public update: <%= @update.title %> - <%= @update.content %>