<!DOCTYPE html>
<html>
<head>
  <title>Churchof</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<a class="navbar-brand" href="#">Church of Lexington</a>
		<ul class="nav navbar-nav">
     		<li><%= link_to "All Needs", needs_path %></li>
     		<% if can? :create, Need %>
     			<li><%= link_to "Post a Need", new_need_path %></li>
			<% end %>
     	</ul>
     	<ul class="nav navbar-nav pull-right">
     		<% if user_signed_in? %>
	     		<li><%= link_to current_user.full_name + " #{current_user.roles_mask}", edit_user_registration_path %></li>
	     		<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	     	<% else %>
	     		<li><%= link_to "Register", register_path %></li>
	     		<li><%= link_to "Log in", login_path %></li>
     		<% end %>
     	</ul>
	</nav>

	<div class="container">
		<% flash.each do |type, message| %>
      		<div class="alert <%= flash_class type %>">
				<%= message %>
      		</div>
      	<% end %>
		<%= yield %>
	</div>
</body>
</html>
