<!DOCTYPE html>
<html>
<head>

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/0925c21f-6a07-4baa-b4a0-c0d0ba302974.css"/>

  <title>Churchof</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Muli:400,400italic' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <%= link_to "Church of Lexington", needs_path, :class => 'navbar-brand' %>
      <ul class="menu-links">
        <% if user_signed_in? %>
          <li class="menu-link">
            <a href="#" class="dropdown-toggle highlighted" data-toggle="dropdown">
              <span class="hide-on-xs"><%= current_user.full_name %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <div class="dropdown-wrapper">
                <% if current_user.has_role? :need_poster %>
                  <li><%= link_to "Poster Panel", need_poster_panel_index_path %></li>
                <% end %>
                <% if current_user.has_role? :church_admin %>
                  <li><%= link_to "Church Admin Panel", church_admin_panel_index_path %></li>
                <% end %>
                <% if current_user.has_role? :super_admin %>
                  <li><%= link_to "Super Admin Panel", users_index_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </div>
            </ul>
          </li>
        <% else %>
          <li class="menu-link highlighted login-btn"><%= link_to "Log In", login_path %></li>
          <li class="menu-link hide-on-xs"><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
     </div>
  </nav>

  <% if controller.controller_name == 'needs' %>
    <% if controller.action_name == 'index' %>
      <%= render :partial => '/layouts/map' %>
    <% end %>
  <% end %>

  <div class="container" id="main-content-container">
    <% flash.each do |type, message| %>
          <div class="alert <%= flash_class type %>">
        <%= message %>
          </div>
        <% end %>
    <%= yield %>
  </div>

</body>
</html>
