<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Churchof</title>

  <%= stylesheet_link_tag 'http://fast.fonts.net/cssapi/0925c21f-6a07-4baa-b4a0-c0d0ba302974.css' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Muli:400,400italic' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'%>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => false %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <%= link_to "Church of Lexington", needs_path, :class => 'navbar-brand' %>
      <%= link_to "Beta", beta_path, :class => 'navbar-brand beta-btn' %>

      <ul class="menu-links">
        <% if user_signed_in? %>
          <li class="menu-link">
            <a href="#" class="dropdown-toggle highlighted" data-toggle="dropdown">
              <span class="hide-on-xs"><%= current_user.full_name %> (<%= current_user.church_admin_needs_admin_incoming_count %>)</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <div class="dropdown-wrapper">
                <% if current_user.has_role? :pending_need_poster %>
                  <li><%= link_to "Poster Agreement", need_poster_panel_index_path %></li>
                <% elsif current_user.has_role? :need_poster %>
                  <li><%= link_to "Poster Panel", need_poster_panel_index_path %></li>
                <% end %>
                <% if current_user.has_role? :pending_church_admin %>
                  <li><%= link_to "Church Admin Agreement", church_admin_panel_index_path %></li>
                <% elsif current_user.has_role? :church_admin %>
                  <li><%= link_to "Church Admin Panel (#{current_user.church_admin_needs_admin_incoming_count})", church_admin_panel_index_path %></li>
                <% end %>
                <% if current_user.has_role? :super_admin %>
                  <li><%= link_to "Super Admin Panel", users_index_path %></li>
                <% end %>
                <% if current_user.has_role? :validation_partner %>
                  <li><%= link_to "Validation Partner Panel", validation_partner_panel_index_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </div>
            </ul>
          </li>
        <% else %>
          <li class="menu-link highlighted login-btn"><%= link_to "Log In", login_path %></li>
          <li class="menu-link hide-on-xs"><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
     </div>
  </nav>

  <%= content_for :map %>

  <div class="container" id="main-content-container">
    <% flash.each do |type, message| %>
          <div class="alert <%= flash_class type %>">
        <%= message %>
          </div>
        <% end %>
    <%= yield %>
  </div>





<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9482-483-10-6776');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9482-483-10-6776/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->



</body>
</html>
